a {
    color: blue;
}

.schedule-container {    
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    padding: 0.75rem;
    position: fixed;
    z-index: 5;
    background-color: white;
    border: 3px solid black;
}

.hide-schedule-container {
    display: none;
}

.close-schedule-button {
    display: flex;
    flex-direction: row-reverse;
}

.schedule-title {
    text-align: center;
    width: 100%;
    font-size: x-large;
    margin-top: 0;
}

.schedule-logo {
    position: relative;
    width: 50%;
    left: 50%;
    transform: translate(-50%,0)
}

@media only screen and (min-width: 768px) {
    .schedule-container {
        width:50%;
        max-height: 90%;
        overflow: hidden;
    }

    .close-schedule-button:hover {
        cursor: pointer;
    }

    .schedule-title{
        font-size: xx-large;
    }

    .schedule-logo{
        width: 15%;
    }
}