.price-container {    
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    padding: 0.75rem;
    position: fixed;
    z-index: 5;
    background-color: white;
    border: 3px solid black;
}

.hide-price-container {
    display: none;
}

.close-price-menu-button {
    display: flex;
    flex-direction: row-reverse;
}

.price-title {
    text-align: center;
    width: 100%;
    font-size: x-large;
    margin-top: 0;
}

.price-logo {
    position: relative;
    width: 50%;
    left: 50%;
    transform: translate(-50%,0)
}

@media only screen and (min-width: 768px) {
    .price-container {
        width:50%;
    }

    .close-price-button:hover {
        cursor: pointer;
    }

    .price-title{
        font-size: xx-large;
    }

    .price-logo{
        width: 15%;
    }
}