#location-img {
    width: 100%;
}

input {
    border: 0;
    padding: 0.625rem 0.75rem;
    border-radius: 0.375rem;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0.07)
}

textarea {
    border: 0;
    border-radius: 0.375rem;
    padding: 0.625rem 0.75rem;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0.07);
}

@media only screen and (min-width: 768px) {
    #location-img {
        position: relative;
        padding-left: 15rem;
        padding-right: 15rem;
        left: 50%;
        transform: translate(-50%);
        height: 40rem;
        width: 50%;
    }

}