.banner-container {
    color:white;
    background-image: url('../../resources/tcp\ banner.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}

.banner-text-container {
    margin-left: auto;
    margin-right: auto;
    padding: 1.5rem;
}

#banner-logo {
    width: 100%;
    box-sizing: border-box;
}

#banner-title {
    text-align: center;
    font-size: 48px;
}

#banner-info {
    text-align: center;
}

#banner-button {
    width: 100%;
    margin-top: 1.5rem;
    padding: 0.75rem 1rem;
    background-color: rgb(191, 239, 255);
    border-radius: 8px;
    font-size: 1.25rem;
}

#banner-purchase-button {
    width: 100%;
    margin-top: 1.5rem;
    padding: 0.5rem 0.75rem;
    background-color: rgb(191, 239, 255);
    color: #74A3B3;
    border: solid #74A3B3 6px;
    border-radius: 8px;
    font-size: 1.25rem;
}

.presents {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.presents-title {
    text-align: center;
}

#player-image {
    max-width: 100%;;
}