header {
    padding: 1.5rem;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-items: center;
    justify-content: space-between;
    align-items: center;
    background-color: cadetblue;
    z-index: 2;
}

.header-text {
    color: blue;
    margin: 0;
}

#fb-icon {
    color:blue;
}

/* Popout Menu */

.menu-title-container {
    padding: 0.6rem;
    background-color: #6A7D8A;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-menu-container-active {
    width: 50%;
    height: 100vh;
    position: fixed;
    top: 0vh;
    left: 0vw;
    padding-left: 0;
    margin-top: 0;
    background-color: #93AEBF;
    z-index: 0;
    transform: translate3d(0, 0, 0);
    transition: transform 1s;
}

.nav-menu-container-inactive {
    width: 20vw;
    height: 100vh;
    position: fixed;
    top: 0vh;
    left: 0vw;
    padding-left: 0;
    margin-top: 0;
    list-style-type: none;
    background-color: #93AEBF;
    z-index: 0;
    transform: translate3d(-25vw, 0, 0);
    transition: transform 1s;
}

.header-menu-button-active {
    position: absolute;
    left: 8%;
    cursor: pointer;
}


.menu-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 7.5vh;
    padding-top: 5vh;
    list-style-type: none;
    font-size: 1.5rem;
    width: 100%;
}

.blackout-active {
    height: 100vh;
    width: 100vw;
    background-color: black;
    position: absolute;
    right: -100vw;
    top: 0;
    opacity: 60%;
}

.blackout-inactive {
    display: none;
}

#menu-purchase {
    border: 1px solid black;
    border-radius: 8px;
    padding: 0.25rem;
}

#menu-logo {
    width: 80%;
    box-sizing: border-box;
}

.menu-footer {
    position: absolute;
    text-align: center;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}