header {
    padding: 1.5rem;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-items: center;
    justify-content: space-between;
    align-items: center;
    background-color: cadetblue;
    z-index: 2;
}

.header-text {
    color: blue;
    margin: 0;
}