.footer-container {
    padding: 1.5rem 1.5rem;
}

.footer-contact-container {
    display: flex;
    flex-direction: column;
}

.footer-title {
    flex-grow: 50%;
    flex-basis: 1;
}

.footer-info {
    flex-grow: 50%;
    flex-basis: 1;
}